.detail { width: 1200px; margin: 0 auto; padding-bottom: 50px;}
.detail-link { height: 40px; border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5; line-height: 40px; margin: 10px 0;}
.detail-link li { float: left; padding-right: 14px; font-family: "微软雅黑"; color: #666;}
.detail-link li a { display: inline-block; padding-right: 10px; padding-left: 10px;}
.ico-home { background: url(../img/ico.png) 0 -45px !important; width: 20px; height: 14px; display: inline-block; vertical-align: middle; margin-top: -2px;}
.ico-to { background: url(../img/ico_arrow.png) -64px -85px no-repeat; vertical-align: middle; display: inline-block; width: 7px; height: 21px;}
.detail-left { width: 1020px; float: left}
.detail-intro { margin-bottom: 20px;}
.goods-show { width: 378px; float: left; padding-top: 10px;}
.goods-big { width: 379px; height: 379px; border: 1px solid #e5e5e5;}
.goods-big-img { width: 379px; height: 379px;}
.share { padding-top: 30px; position: relative; z-index: 3;}
.f1 { float: left}
.share-btn { font-size: 12px; line-height: 15px!important;}
.share-btn-inner { background-image: none; height: 16px; line-height: 16px; width: auto; color: #666; margin: 0 4px 0 0!important; padding: 0!important; float: none;}
.icon-share { margin-left: 4px; background: url(../img/ico.png) -25px -23px!important; width: 16px; height: 16px; display: inline-block; vertical-align: middle; margin-top: -2px;}
.pf40 { padding-left: 40px; font-family: "微软雅黑"; color: #666;}
.ico-collect { margin-left: 4px; width: 18px; display: inline-block; background: url(../img/ico.png) -23px -2px!important; vertical-align: middle; margin-top: -2px; height: 15px; }
.tip-note-box { display: block; position: absolute; width: 205px; line-height: 18px; left: 200px; margin-top: -18px; z-index: 2; padding: 16px 15px 18px 18px; }
.note-hover { display: none; border: 1px solid #e5e5e5; background-color: #fff;}
.fr { float: right}
.tip-note-box .note { display: none}
.tip-title { position: absolute; z-index: 3; text-align: center; left: 70px; cursor: default; font-family: "微软雅黑"; color: #666;}
.ico-infonote { margin-right: 4px; width: 12px; display: inline-block; background: url(../img/ico.png) 0 -23px !important; vertical-align: middle; margin-top: -2px; height: 15px; }
.ico-5-4 { margin-left: 10px; vertical-align: top; margin-top: 6px; display: inline-block; border-style: solid; height: 0; line-height: 0; width: 0; border-width: 5px 4px; border-color: #666 transparent transparent;}
.tip-note-box .note { padding-top: 36px;}
.goods-data { padding-left: 40px; overflow: hidden;}
.goods-data h1 { font-size: 20px; margin-top: 10px; margin-bottom: 30px; font-weight: 400; word-break: break-all; word-wrap: break-word;}
.goods-data dt { float: left; width: 80px; line-height: 40px;}
.goods-data dd { float: left; z-index: 2; max-width: 510px; }
.bold { font-weight: 700}
.f30 { font-size: 30px}
.price-off { background-color: #f25e5a; color: #fff; padding: 0 2px; line-height: 15px; display: inline-block;}
.goods-function { height: 20px; margin-top: 24px; padding: 10px 0; border-top: dotted 1px #e5e5e5; border-bottom: dotted 1px #e5e5e5;}
.goods-function li { float: left; width: 198px; text-align: center; height: 20px; line-height: 20px;}
.goods-number { padding-top: 20px; clear: both;}
.goods-number .number { margin-right: 10px; position: relative; float: left; width: 60px; height: 36px; padding-top: 4px;}
.btn-reduce { width: 14px; height: 12px; border: 1px solid #e5e5e5; position: absolute; right: 0; text-align: center; top: 22px;}
.btn-reduce .ico-u-5 { vertical-align: top; margin-top: 4px; border-color: #666 transparent transparent; border-width: 5px; border-style: solid; display: inline-block; height: 0; line-height: 0; width: 0;}
.btn-add { width: 14px; height: 12px; border: 1px solid #e5e5e5; position: absolute; right: 0; top: 4px; text-align: center;}
.btn-add .ico-u-5 { vertical-align: top; border-width: 5px; border-color: transparent transparent #666; border-style: solid; display: inline-block; height: 0; line-height: 0; width: 0;}
.number-input { width: 38px; height: 28px; line-height: 28px; text-align: center; border: 1px solid #e5e5e5; color: inherit; font: inherit; margin: 0; outline: 0;}
.goods-btn { padding-left: 80px; padding-top: 30px;}
.btn-buy { border: 2px solid #e14958; color: #e14958; margin-right: 20px; background-color: #fff; line-height: 34px; height: 34px; text-align: center; float: left; width: 136px; font-size: 16px;}
.cart-add { background-color: #e14958; border: 1px solid #e14958; color: #fff; line-height: 32px; height: 38px; text-align: center; float: left; width: 136px; font-size: 16px; overflow: visible; display: inline-block; padding: 0; align-items: center; cursor: pointer}
.goods-tips { padding-left: 80px; padding-top: 30px;}
.goods-tips span { padding-right: 10px}
.mr20 { margin-right: 20px}
.ico-mark-1 { background: url(../img/ico_mark.png) 0 -36px no-repeat; display: inline-block; vertical-align: middle; width: 20px; height: 22px; margin-right: 10px;}


